body{
    background-color: cyan;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
form{
    text-align: center;
}
pre{
    text-align: center;
}
.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid black;
}

.tab{
    cursor: pointer;
    padding: 15px;
}
.tab:hover{
    background-color: #AAA;
}
.tab.active {
    background-color: #CCC;
}
[data-tab-content] {
    display: none;
}

.active[data-tab-content]{
    display: block;
}